In [ ]:
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
import pandas as pd

#make the connection
connection_string = ("mysql+pymysql://root:SQL4ab@localhost/sakila")
engine = create_engine(connection_string)
connection = engine.connect()

In [8]:
connection

In [22]:
#create the query to get the data
year = 2005
month = 06

query =  f'''SELECT * 
FROM rental
WHERE rental_date BETWEEN "{year}-{month}-01" AND "{year}-{month}-31";'''
print(query)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2850354848.py, line 3)

In [ ]:
#get the reutrn of the query to a df
df = pd.read_sql(query, connection)
df.head()

Empty DataFrame
Columns: [rental_id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update]
Index: []

In [ ]:
#create the function to get the data

def rentals_month(engine, year, month):
    query =  f'''SELECT * 
                FROM rental
                WHERE rental_date BETWEEN "{year}-{month}-01" AND "{year}-{month}-31";'''
    df = pd.read_sql(query, connection)
    return df